{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  {% if advert.image is not null %}
    <img src="{{ asset(advert.image.getWebPath) }}" alt="{{ advert.image.alt }}">
  {% endif %}

  <h4>Liste des candidats pour ce post:</h4>
  {% if listApplication|length > 0 %}
      <ul>
        {% for app in listApplication %}
        <li>{{ app.author }}</li>
        {% endfor %}
      </ul>
  {% else %}
   <p> Soyez le premier à postuler !</p>

    {% endif %}

    <h4>Catégorie(s):</h4>
    <div class="row">
    {% for cat in categories %}
    <div class="col-md-4">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="{{cat.id}}" {{(advert.categories|length >= loop.index) and advert.categories[loop.index -1].id == cat.id ? 'checked' : null }}> {{ cat.name }}
        </label>
      </div>
    </div>
    
    {% endfor %}
    </div> {# /row catégorie #}

    <div class="row">
      {% if listAdvertSkill|length > 0 %}
        <p>Compétence(s) nécéssaire(s):</p>
        <ul>
          {% for advertSkill in listAdvertSkill %}    
          <li>{{ advertSkill.skill.name}} : niveau {{ advertSkill.level }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

  <p>
    Cette annonce est parue dans les catégories suivantes :
    {% for category in advert.categories %}
      {{ category.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p>
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>
{% endblock %}